@charset "utf-8";
@import url(/_style/csslib/base.css);
@import url(/_style/csslib/pane2.css);
body {
	margin: 1em 10%;
	font-family: '平成明朝','ＭＳ Ｐ明朝',serif;
	line-height: 170%;
	color: #CCCCCC;
}
h1 {
	font-size: 160%;
	margin: 2em 0px;
}
h2 {
	font-size: 140%;
	margin: 2em 0px 1em;
}
#header {
	padding: 10px;
}
#body {
	padding: 30px 10px 150px;
}
#footer {
	padding: 10px;
}
#name {
	font-size: 110%;
	text-align: right;
}
#date {
	text-align: right;
}
#size {
	text-align: right;
}
#column {
	margin: 1em 0px;
	padding: 5px 20px;
	border-width: 1px;
	border-color: #999999;
	border-style: inset;
}
#appendix {
	margin: 1em 0px;
	padding: 5px 20px;
	border-width: 1px;
	border-color: #999999;
	border-style: inset;
}
dl {
	margin: 0px;
}
.headline {
	font-weight: bold;
}
strong {
	color: #FFFFFF;
}
