@charset "utf-8";
@import url(/_style/navi.css);
table {
	margin-right: 100px;
	padding: 5px;
	border-width: 1px;
	border-style: solid;
	border-collapse: collapse;
}
th {
	font-weight: bold;
	font-size: 90%;
	line-height: 130%;
	background-color: #CC6666;
	padding: 1px 2px;
	border-width: 1px;
	border-style: solid;
}
td {
	font-size: 90%;
	line-height: 130%;
	background-color: #FFFFCC;
	padding: 1px 2px;
	border-width: 1px;
	border-style: solid;
}
h1 {
	font-family: '平成明朝','ＭＳ Ｐ明朝',serif;
	font-weight: bold;
	font-size: 200%;
	color: #3333CC;
	padding: 20px 10px;
	border-width: 0px 0px 3px;
	border-color: #3333CC;
	border-style: double;
}
h2 {
	font-family: '平成明朝','ＭＳ Ｐ明朝',serif;
	font-size: 180%;
	padding: 2em 10px;
}
.catch {
	font-family: '平成明朝','ＭＳ Ｐ明朝',serif;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 140%;
}
.info {
	text-align: right;
	font-size: 90%;
	margin-right: 10px;
}
.guide {
	margin-left: 1em;
	margin-right: 10px;
}
