@charset "utf-8";
strong {
	color: #333333;
}
big {
	font-size: 140%;
	font-weight:bold;
	color: #333333;
}
/* 引用 */
blockquote {
	background-color: #EEEEEE;
	margin: 5px 10px 5px;
	padding: 10px;
	font-size: 95%;
	line-height: 150%;
	border-top: 1px #DDDDDD solid;
	border-bottom: 1px #DDDDDD solid;
}
/* 原典 */
div.srcbook {
	font-style: italic;
	font-size: 95%;
	line-height: 150%;
	background-color: #EEEEEE;
	text-align: right;
	margin-top: 5px;
}
/* 隠蔽 */
.hidden {
	color: #CCCCCC;
	background-color: #CCCCCC;
}
/* 隠し文字 */
.secret {
	font-size: 90%;
	color: white;
}
/* 中央配置 */
.aligncenter {
   text-align:center;
}
/* 公開日 */
.date {
	text-align:right;
	font-size:0.8em;
	color:#999999;
	margin:0px;
}
/* 追記 */
.add {
	color: #FF6666;
}
/* 字下げ */
.indent {
	font-style: italic;
	margin: 1em 1em 2em 3em;
	padding: 10px;
}
/* 注記 */
.note {
	font-size: 90%;
	margin-left: 4em;
}
/* 表 */
table {
	margin: 10px;
}
table,tr,td,th {
	padding: 2px;
	font-size: 95%;
	line-height: 150%;
	border-width: 1;
	border-color: #003333;
	border-style: solid;
	border-collapse: collapse;
}
table li {
	margin-left: 1em;
}
/* リンクに強制改行を許可する */
a {
	word-break: break-all;
}
/* 小見出し */
.subhead {
	font-weight: bold;
	font-size: 120%;
	text-align: center;
}
/* 小見出し */
.dt {
	font-weight: bold;
	font-size: 105%;
	margin: 5px 10px 0px;
}
