@charset "utf-8";
#portrait {
	margin: 10px;
	float: right;
}
#name {
	font-weight: bold;
	font-size: 110%;
	color: #FF9999;
	padding: 10px;
	border-width: 0px 0px 3px;
	border-color: #FF9999;
	border-style: double;
}
