@charset "utf-8";
body {
	margin: 0em;
}
#head {
	font-size: 90%;
}
#body {
}
#footer {
	font-size: 90%;
}
h1 {
	font-size: 150%;
	line-height: 150%;
	padding: 30px 10px;
}
h2 {
	font-size: 130%;
	padding: 15px 10px;
	line-height: 150%;
}
h3 {
	font-size: 120%;
	padding: 10px 10px;
	line-height: 150%;
}
p {
	padding-left: 10px;
	padding-right: 10px;
}
#announce {
	font-size: 90%;
}
#announce li {
	margin-left: 20px;
}
#index {
	padding: 20px 0px;
	font-size: 90%;
	line-height: 120%;
}
