@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
}
body {
	font-size: 100%;
	line-height: 150%;
	position: relative;
}
h1 {
	font-weight: bold;
}
h2 {
	font-weight: bold;
}
a:link {
	color: #CC0000;
}
a:visited {
	color: #990000;
}
a:active {
	color: #000099;
}
a:hover {
	color: #0000CC;
	background-color: #00CCFF;
}
p {
	margin: 0px;
	padding-top: 1em;
	padding-bottom: 1em;
}
.fbr {
	word-break: break-all;
}
strong {
	font-weight: bolder;
}
big {
	font-size: 120%;
	font-weight: bolder;
}
img {
	border-width: 0px;
}
blockquote {
	margin-left: 3em;
	font-size: 90%;
}
ol,ul {
	padding: 5px 0px;
}
li {
	margin-left: 3em;
	list-style-position: outside;
}
dl {
	padding: 5px 0px;
}
dt {
	padding-left: 10px;
	padding-right: 10px;
}
dd {
	padding-left: 40px;
	padding-right: 10px;
}
